@model Wish_Box.Models.Wish
@{
    ViewData["Title"] = "Удалить желание";
}

<div class="modal-content">
    <div>
        <div class="modal-body">
            <form asp-action="delete" asp-controller="Wish" asp-route-id="@Model.Id" method="post">
                <div>Вы уверены, что хотите удалить желание "@Model.Description"?</div>
                <div class="form-group">
                    <div class="row" style="margin-left: 10px;">
                        <input style="margin-top: 10px;" class="btn btn-outline-success" type="submit" value="Удалить" />
                        <input style="margin-top: 10px; margin-left: 10px;" class="btn btn-outline-danger" type="button" data-dismiss="modal" value="Отмена" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
