@model Wish_Box.ViewModels.ChangePasswordModel

@{
    ViewData["Title"] = "Изменить пароль";
}

<div class="col-8">
    <h2 style="color:white; text-align: center; font-weight: bold; margin-bottom: 20px;"> Изменить пароль</h2>

    <form class="change-password" asp-action="ChangePassword" id="changepassform">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OldPassword">Введите старый пароль</label>
            <input type="password" class="form-control" asp-for="OldPassword" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите новый пароль</label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Введите новый пароль ещё раз</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>
</div>
@section scripts
{
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"></script>
    <script>
        $(document).ready(function (e) {
            $("#changepassform").on('submit', (function (e) {
                e.preventDefault();
                $.ajax({
                    url:"@Url.Action("ChangePassword", "Account")",
                    type: "PUT",
                    data: new FormData(this),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function () {
                        location.reload(true);
                        //window.location.href = 'UserPage/Show/';
                    }
                });
            }));
        });
    </script>
}