@model Wish_Box.Models.User

@{
    ViewData["Title"] = "Edit";
}

<div class="col">
    <h1>Редактирование профиля</h1>

    <hr />
    <div class="row">
        <div class="col-md-5">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Login" class="control-label">Имя</label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <!--<div class="form-group">
                <label asp-for="Password" class="control-label"></label> -->
                <input type="hidden" asp-for="Password" />
                <!--<span asp-validation-for="Password" class="text-danger"></span>
                </div>-->
                <div class="form-group">
                    <label asp-for="dayOfBirth" class="control-label">Дата рождения</label>
                    <input asp-for="dayOfBirth" class="form-control" />
                    <span asp-validation-for="dayOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label">Страна</label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label">Город</label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Назад</a>
        </div>
    </div>
