@{
    ViewData["Title"] = "Wish Box";
}
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div id="modDialogSignIn" class="modal fade">
    <div id="dialogSignIn" class="modal-dialog"></div>
</div>
<div class="col-12 col-lg-12 col-sm-12 col-md-12">
    <div class="text-center">
        <img src="~/Content/logo.png" asp-append-version="true" width="577"
             height="174">
        <p class="app-desc">
            Делитесь тем, чего желаете.
            Получайте то, о чём
            действительно мечтали.
        </p>
        <ul class="button-group">
            <li>
                <a class="btn btn-signup  btn-lg" asp-area="" asp-controller="Account" asp-action="Register" id="register">Зарегистрироваться</a>
            </li>
            <li>
                <a class="btn btn-light  btn-lg" asp-area="" asp-controller="Account" asp-action="Login" id="login">Войти</a>
            </li>
        </ul>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            $(".btn-signup").click(function (e) {
                console.log("sign up button was pressed");
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
            $(".btn-light").click(function (e) {
                console.log("sign in button was pressed");
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogSignIn').html(data);
                    $('#modDialogSignIn').modal('show');
                });
            });
        })
    </script>

    <script>
        register.onclick = function (event) {
            ym(62193592, 'reachGoal', 'btn_register');
        }
    </script>

    <script>
        login.onclick = function (event) {
            ym(62193592, 'reachGoal', 'btn_login');
        }
    </script>
    <script type="text/javascript">
        $(function () {
            var fileInput = $('#upload-file');
            var maxSize = fileInput.data('max-size');
            $('#upload-form').submit(function (e) {
                if (fileInput.get(0).files.length) {
                    var fileSize = fileInput.get(0).files[0].size; // in bytes
                    alert('maxsize is ' + maxSize + ' filesize is ' + fileSize);
                    if (fileSize > maxSize) {
                        alert('Размер файла больше, чем 3 MB');
                        return false;
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        {
            <text>
            $(document).ready(function() {
                alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage');
            });
            </text>
        }
    </script>
}
