@model Wish_Box.ViewModels.RegisterModel

    <div class="modal-content sign-up-window">
        <div class="modal-header">
            <h2 style="margin-left:auto; margin-right:auto;">Регистрация</h2>
        </div>
        <div class="modal-body">
            <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true"  method="post" enctype="multipart/form-data">
                <div class="validation" asp-validation-summary="ModelOnly"> </div>
                <div>
                    <div class="form-group">
                        <label asp-for="Login"><strong>Введите логин</strong></label><br />
                        <input type="text" class="form-control" asp-for="Login" />
                        <span asp-validation-for="Login"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="dayOfBirth"><strong>Введите дату рождения</strong></label><br />
                        <input type="date" class="form-control" asp-for="dayOfBirth" />
                        <span asp-validation-for="dayOfBirth"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country"><strong>Введите страну</strong></label><br />
                        <input type="text" class="form-control" asp-for="Country" />
                        <span asp-validation-for="Country"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City"><strong>Введите город</strong></label><br />
                        <input type="text" class="form-control" asp-for="City" />
                        <span asp-validation-for="City"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"><strong>Введите пароль</strong></label><br />
                        <input type="password" class="form-control" asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"><strong>Повторите пароль</strong></label><br />
                        <input type="password" class="form-control" asp-for="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div>
                        <input name="Avatar" type="file" class="form-control" />
                    </div>
                    <div>
                        <input class="btn btn-outline-success sign-up-btn" type="submit" value="Регистрация" />
                    </div>
                </div>
            </form>
        </div>
    </div>
