
@{
    ViewData["Title"] = "SuccessRegister";
}

<h1>SuccessRegister</h1>

<h2>Пользователь зарегестрирован</h2>
<h3>Переход на главную</h3>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "Home")";
        }, 1000);
    })
</script>

