@{
    ViewData["Title"] = "Show";
}

<div class="col-8 col-lg-8">
    <table class="table table-striped">
        @foreach(var user in ViewBag.followingUsers)
        {
            <tr> 
                <td><a class="btn-link" asp-area="" asp-controller="Userpage" asp-action="Show" asp-route-id="@user.Login">@user.Login</a></td>
            </tr>
        }
    </table>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>


