@model Wish_Box.Models.Wish
@{
    ViewData["Title"] = "Delete";
}

<div class="modal-content">
    <div>
        <div class="modal-header">
            <h2 style="text-align: center; font-weight: bold; margin-bottom: 20px;">Удалить желание</h2>
        </div>
        <div class="modal-body">
            <form asp-action="delete" asp-controller="Wish" asp-route-id="@Model.Id" method="post">
                <div class="form-group">
                    <input style="margin-top: 10px;" class="btn btn-outline-success" type="submit" value="Удалить" />
                </div>
            </form>
        </div>
    </div>
</div>
