@model IEnumerable<Wish_Box.Models.Wish>
@{
    ViewData["Title"] = "Index";
}

<h1>Мои желания</h1>

<table class="table">
    <tr><td>Название</td><td>Описание</td></tr>
    @foreach (var item in Model)
    {
        <tr>
        <!--<td>@@item.Name</td>-->
            <td>@item.Description</td>
        </tr>
    }
</table>
