<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wish_Box</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <style type="text/css">
        body {
            background-color: #aed3e6 !important;
        }

        .navbar-default {
            background-color: #aed3e6 !important;
            border-color: white;
        }

        .own-navbar {
            background-color: #aed3e6;
            border-color: white;
        }

        .navbar {
            background-color: #aed3e6 !important;
        }
        .searchbar{
            margin-bottom: auto;
            margin-top: auto;
            height: 50px;
            background-color: #5d8ba2;
            border-radius: 30px;
            padding: 10px;
            transform: translate(68%, 0px);
            position: absolute
        }

        .search_input{
            color: white;
            border: 0;
            outline: 0;
            background: none;
            width: 450px;
            line-height: 30px;
            transition: width 0.4s linear;
            padding-left: 50px;
        }
        .search_icon {
            height: 40px;
            width: 40px;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;
            text-decoration: none;
            margin-right: 10px;
            position: absolute;
            transform: translate(0, -90%);
        }

        input[type="text"]::-webkit-input-placeholder {
            color: white;
        }
        input[type="text"]::-moz-placeholder {
            color: white;
        }
        /* Firefox 19+ */
        input[type="text"]:-moz-placeholder           {color:white;}/* Firefox 18- */
        input[type="text"]:-ms-input-placeholder      {color:white;}
    </style>

</head>
<body>
    <header>
        <div class="own-navbar">
            <nav class="navbar navbar-default navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <div>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/Content/logo.png" asp-append-version="true" width="166"
                                 height="50" alt="Home">
                        </a>
                    </div>
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Найти пользователя...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>

                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Wish_Box - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
