
@{
    ViewData["Title"] = "Wish Box";
}

    <div class="text-center">
        <img src="~/Content/logo.png" asp-append-version="true" width="577"
             height="174">
                <p class="app-desc">
                    Делитесь тем, чего желаете.
                    Получайте то, о чём
                    действительно мечтали.
                </p>
        <ul class="button-group">
            <li>
                <a class="btn btn-signup  btn-lg" asp-area="" asp-controller="Home" asp-action="Sign up">Зарегистрироваться</a>
            </li>
            <li>
                <a class="btn btn-light  btn-lg" asp-area="" asp-controller="Home" asp-action="Sign in">Войти</a>
            </li>
        </ul>
    </div>
